* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

h2 {
    font-size: 1.8rem;
}

p {
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* flex */
.flex {
    display: flex;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bg-grey {
    background-color: rgb(199, 199, 199);
}

/* button style */
.button {
    background-color: grey;
    padding: 0.5rem 1.3rem;
}

.btn-white {
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-black {
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(35, 35, 35);
    color: white;
    cursor: pointer;
}

.btn-light-blue {
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    border: none;
    background-color: #8FA1E1;
    color: white;
    cursor: pointer;
}
/* /button style */

.container {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 2rem;
}

/* header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 50vh;
    margin-bottom: 3rem;
}

.header-top {
    background: linear-gradient(180deg, rgba(38, 94, 233, 1) 86%, rgba(0, 212, 255, 0) 100%);
    height: 80px;
    justify-content: center;
    align-items: center;
}

.header-top-info{
    width: 70%;
    height: 45px;
    justify-content: center;
    align-items: center;
}

header .logo,
header .login {
    width: 20%;
}

header .menu {
    width: 80%;
    justify-content: center;
}

header .login{
    justify-content: flex-end;
}

ul {
    width: 80%;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

/* header bottom */
.header-bottom {
    color: white;
    height: calc(50vh - 80px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-bottom-info a:first-of-type::before {
    content: "\2193";
    padding-right: 0.4rem;
}

.header-bottom-info {
    width: 50%;
    height: 250px;
}

.header-bottom-info>a {
    margin: 0.5rem;
}

.header-bottom-info a:first-of-type::before {
    content: "\2193";
    padding-right: 0.4rem;
}

/* main */
main{
    flex-wrap: wrap;
}

.main-content {
    width: 100%;
    padding: 60px 0;
}

.main-content > div.container{
    justify-content: space-between;
}

.info-img {
    width: 30%;
}

/* section full width */
.container-full-width {
    background-color: rgb(199, 199, 199);
    width: 100%;
    padding: 20px 0 120px;
    text-align: center;
}

.container-full-width .btn-light-blue::before  {
    content: "\2193";
    padding-right: 0.4rem;
}

.container-full-width h2 {
    padding-bottom: 50px;
}

/* footer */
footer {
    background-color: rgb(58, 58, 58);
    color: white;
    padding-top: 3rem;
}

footer h2,
footer h3 {
    color: #7189DA;
}

.footer-social {
    padding-right: 4rem;
    height: 85%;
}

.footer-social > h2 {
    padding-bottom: 1rem;
}

.footer-social>.language::before {
    content: url(../img/ita.png);
    /*          !background-size non funziona             */
    zoom: 40%;
    margin-right: 1rem;
    vertical-align: middle;
}

.footer-social>.language::after {
    content: url(../img/down-arrow.png);
    /*          !background-size non funziona             */
    zoom: 3%;
    margin-left: 8rem;
    vertical-align: middle;
    filter: invert(1);
}

.footer-social>ul {
    width: 60%;
    margin-top: 0.8rem;
}

.twitter {
    content: url(../img/twitter.png);
    width: 1.5rem;
    filter: invert(1);
}

.instagram {
    content: url(../img/twitter.png);
    width: 1.5rem;
    filter: invert(1);
}

.facebook {
    content: url(../img/twitter.png);
    width: 1.5rem;
    filter: invert(1);
}

.youtube {
    content: url(../img/twitter.png);
    width: 1.5rem;
    filter: invert(1);
}

.footer-contacts {
    width: 100%;
    height: 85%;
}

.footer-contacts>* {
    width: calc(100% - 400px);
    flex-grow: 1;
    flex-shrink: 1;
}

/*          bottom footer             */
.bottom-footer {
    border-top:2px solid #8FA1E1;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.footer-contacts ul>li {
    padding: 0.3rem 0;
}

footer .logo {
    padding: 0.5rem 0;
    height: 100%;
}